body {
 background-color: blanchedalmond;
}

h1{color:#9d2503;}
h3{color:#9d2503;}
hr{
background-color: white ;
border-style:dotted none none;
border-color: grey;
border-width: 5px;
width: 5%;
}